/* Variables  */
:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-text-color: #212121;
  --text-color: #757575;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
  --icons-color: #afb1b8;
}
html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-text-color);
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* Animation */
.link,
.icons-list a,
.customers-list-link,
.filter {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list a,
.icons-list-footer a,
.filter {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter,
.projects-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-heading {
  display: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.nav {
  display: flex;
  align-items: center;
}
.header .nav-list .active {
  color: var(--accent-color);
}
.header .nav-list .active::after {
  content: "";
  height: 4px;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.list {
  list-style: none;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}
/* Button style */
.sign-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  height: 50px;

  border: transparent;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-icon {
  fill: currentColor;
}
.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.icons-list,
.icons-list-footer {
  width: 206px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.icons-list a,
.icons-list-footer a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-list a {
  color: var(--icons-color);
}
.icons-list a:hover,
.icons-list a:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.icons-list-footer a {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.icons-list-footer a:hover,
.icons-list-footer a:focus {
  background-color: var(--accent-color);
}

/* HEADER STYLE */
.header {
  background: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: var(--accent-font);
  font-size: 26px;
  font-weight: bold;
  line-height: 1.173;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-footer {
  padding: 0;
}
.logo-span {
  color: var(--accent-color);
}
.header .container {
  display: flex;
  align-items: center;
  width: 1170px;
  padding: 0;
}
.header .list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
  width: 294px;
}
.nav-list .link {
  display: block;
  color: var(--main-text-color);
}
.underline {
  position: relative;
}
.media-list {
  display: flex;
  justify-content: space-between;
  margin-left: 290px;
}
.media-list .link {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-list-item:first-child {
  margin-right: 30px;
}

.media-list-item .header-icon {
  margin-right: 10px;
}
.media-list-item:hover .link {
  color: var(--accent-color);
}
.header .link {
  padding: 32px 0px;
}
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

/* Hero section */
.hero {
  margin: 0 auto;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  color: var(--white-color);
  padding: 200px 0px;
  text-align: center;
}
.hero .container {
  padding: 0px 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.362;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Service style*/

.service .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-list {
  display: flex;
}

.service-list-item {
  width: 270px;
}
.service-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-light-color);
}

.service-list li:not(:last-child) {
  margin-right: 30px;
}
.service-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* What we do STYLES */
.what-we-do-section {
  padding-top: 0px;
}
.what-we-do-section .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 70px;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-list {
  display: flex;
}
.work-list li {
  position: relative;
}
.work-list li:not(:last-child) {
  margin-right: 30px;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
}

/*TEAM STYLE */
.team {
  background: var(--background-light-color);
}
.member-info {
  padding: 30px 0;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.member-position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}
.team-list > li:not(:last-child) {
  margin-right: 30px;
}
.team-list > li {
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* Regular customers */
.regular-customer-icon {
  fill: currentColor;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-list > li {
  color: var(--icons-color);
  width: 170px;
  height: 92px;
}
.customers-list > li:not(:last-child) {
  margin-right: 30px;
}
.customers-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--accent-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

/* Buttons filters */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list li:not(:last-child) {
  margin-right: 8px;
}
.filter {
  background: var(--background-light-color);
  border-radius: 4px;
  border-width: 0px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  height: 38px;
  cursor: pointer;
  padding: 6px 22px;
}
.filter-all {
  background: var(--accent-color);
  color: var(--white-color);
}

.filter:hover,
.filter:focus {
  border: none;
  background: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Projects in Portfolio*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.projects-list li {
  border: 1px solid #eeeeee;
  background-color: var(--white-color);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  cursor: pointer;
}

.projects-list-item {
  display: block;
}
.projects-list-item:focus,
.projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-info {
  padding: 20px 24px;
}
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
}
.description-img {
  position: relative;
  overflow: hidden;
}
.description-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--accent-color);

  transform: translateY(100%);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item:hover .description-text,
.projects-list-item:focus .description-text {
  transform: translateY(0%);
  opacity: 1;
}
/*CONTACTS STYLE */

.contacts {
  background: var(--background-dark-color);
  color: var(--white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.contacts address {
  margin-top: 20px;
}
.address-list {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-list li:not(:last-child) {
  margin-bottom: 9px;
}
.address-list .link {
  color: var(--text-color);
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--white-color);
}
.footer-contacts {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-left: 70px;
}
.footer-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Mailing subscription */
.footer-mailing {
  margin-left: auto;
}
.mailing-block {
  display: flex;
}

.input-mailing {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: var(--background-dark-color);
}
.input-mailing:focus,
.input-mailing:focus {
  border-color: var(--accent-color);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal-content {
  transform: translate(-50%, -50%) scale(0);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px 40px 50px 40px;
  background-color: var(--white-color);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-close:hover, .modal-close:focus {
  color: var(--accent-color);

}

.close-modal-icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form .sign-button {
  align-self: center;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-text:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}
.modal-form-field {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
  display: inline-block;
  margin-bottom: 10px;
}
.modal-form-area {
  margin-bottom: 20px;
}
.modal-form-field-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal-form-text::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-agree-label {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-form-agree-label a {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-check-wrap {
  width: 16px;
  height: 15px;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--main-text-color);
  border-radius: 3px;
  margin-right: 8px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:focus + .modal-form-agree-label .modal-form-check-wrap {
  border-color: var(--accent-color);
}
.modal-form-check:checked + .modal-form-agree-label .modal-form-check-wrap {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
